
{{define "title"}}about{{end}}
{{define "main"}}
<h2>About: </h2>
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat, metus quis rhoncus laoreet, magna dolor lobortis libero, a accumsan erat lorem id leo. In hac habitasse platea dictumst. Mauris augue erat, fermentum sed tempor id, mattis vel turpis. Aliquam porta mauris non nulla mattis, vitae hendrerit augue congue. Aliquam erat volutpat. Nulla tincidunt rutrum magna a dignissim. Maecenas at vulputate elit. Nulla pulvinar iaculis turpis, et finibus quam ultrices mattis. Aenean eu lectus congue, placerat libero sed, faucibus elit. Cras sagittis tellus quis elementum malesuada. Maecenas condimentum ultrices vulputate.
Aliquam eu consequat sem. Maecenas vehicula, nulla et vehicula vulputate, est ante ornare tortor, eu pretium diam turpis eu orci. Cras et varius ipsum. Nullam hendrerit finibus neque, vel pharetra odio tincidunt quis. Mauris scelerisque nulla leo, at malesuada mi venenatis rutrum. Morbi fringilla magna sapien, et viverra neque vestibulum ut. Nullam rhoncus porta euismod. Ut finibus massa in nulla sagittis, non fermentum metus dapibus. Etiam cursus justo eget metus tincidunt eleifend. Integer neque est, semper non dapibus non, tempus ac felis. Phasellus interdum bibendum neque vel luctus. Curabitur et consequat nisi. Nunc et massa rutrum, rhoncus augue nec, convallis justo. 
</p>
{{end}}
